# Data Driven Dealings Development


*   EDA on Sales Data
*   RFM Clustering
*   Predicting Sales
*   Market Basket Analysis
*   Recommending Items per Customer

# Reading in the Data

In [1]:
# To be able to use your data stored in your Google Drive you first need to mount your Google Drive so you can load and save files to it. 
from google.colab import drive
drive.mount('/content/gdrive')
#You'll need to put in a token which Google will generate for you as soon as you click on the link

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [2]:
import pandas as pd
data = pd.read_excel('/content/gdrive/My Drive/DDDDFolder/DDDD.xlsx')
data.head()

   SalesDate  SalesValue  SalesAmount  Customer  SalesTransactionID  SalesItem
0 2018-09-28      8280.0           10         0                   0          0
1 2018-09-28      7452.0           10         0                   0          0
2 2019-04-23     21114.0           30         0                   1          0
3 2019-04-23      7038.0           10         0                   1          1
4 2019-04-23      7000.0            2         0                   1          2

# Sparsity

In [3]:
DataPrep = data[['SalesItem', 'SalesAmount', 'Customer']] #we will only use SalesItem, SalesAmount and Customer for our recommending purpose
DataPrep.head()

   SalesItem  SalesAmount  Customer
0          0           10         0
1          0           10         0
2          0           30         0
3          1           10         0
4          2            2         0

In [4]:
DataPrep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341422 entries, 0 to 341421
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   SalesItem    341422 non-null  int64
 1   SalesAmount  341422 non-null  int64
 2   Customer     341422 non-null  int64
dtypes: int64(3)
memory usage: 7.8 MB

In [5]:
DataGrouped = DataPrep.groupby(['Customer', 'SalesItem']).sum().reset_index() # Group together
DataGrouped.head()

   Customer  SalesItem  SalesAmount
0         0          0          281
1         0          1          158
2         0          2           13
3         0        768            1
4         1          3            2

In [6]:
#make sure that no values <=0 exist
DataGroupedZero = DataGrouped.query('SalesAmount <= 0')
DataGroupedZero.head()

Empty DataFrame
Columns: [Customer, SalesItem, SalesAmount]
Index: []

In [7]:
#in our above check we have made sure that no datarows <=0 exists. That is fine!
#only use this in case your data includes values <=0
# DataGrouped.SalesAmount.loc[DataGrouped.SalesAmount == 0] = 1 # Replace a sum of zero purchases with a one to
# DataGrouped.head()

#another interesting way to achieve the same is to use query function
#DataGrouped = DataGrouped.query('SalesAmount > 0') # Only get customers where purchase totals were positive
#DataGrouped.head()

In [8]:
import numpy as np
customers = list(np.sort(DataGrouped.Customer.unique())) # why 36 unique customers in a list and not 35? Index starts at 0!
products = list(DataGrouped.SalesItem.unique()) # Get our unique 3725 unique products that were purchased
quantity = list(DataGrouped.SalesAmount) # All of our purchases
#list function is a list of values. So customers now stores 36 unique customers.

In [9]:
from pandas import DataFrame
DfCustomerUnique = DataFrame(customers,columns=['Customer'])
DfCustomerUnique.head()

   Customer
0         0
1         1
2         2
3         3
4         4

In [10]:
from scipy import sparse
from pandas.api.types import CategoricalDtype

rows = DataGrouped.Customer.astype(CategoricalDtype(categories=customers)).cat.codes # We have got 36 unique customers, which make up 13837 data rows (index)

# Get the associated row indices
cols = DataGrouped.SalesItem.astype(CategoricalDtype(categories= products)).cat.codes # We have got unique 3725 SalesItems, making up 13837 data rows (index)

# Get the associated column indices
#Compressed Sparse Row matrix
PurchaseSparse = sparse.csr_matrix((quantity, (rows, cols)), shape=(len(customers), len(products))) #len of customers=35, len of products=3725
#csr_matrix((data, (row_ind, col_ind)), [shape=(M, N)])
#where data, row_ind and col_ind satisfy the relationship a[row_ind[k], col_ind[k]] = data[k]. , see https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.csr_matrix.html

PurchaseSparse
#a sparse matrix is not a pandas dataframe, but sparse matrices are efficient for row slicing and fast matrix vector products

<35x3725 sparse matrix of type '<class 'numpy.longlong'>'
	with 13837 stored elements in Compressed Sparse Row format>

In [11]:
#We have 35 customers with 3725 items. For these user/item interactions, 13837 of these items had a purchase. 
#In terms of sparsity of the matrix, that makes:
MatrixSize = PurchaseSparse.shape[0]*PurchaseSparse.shape[1] # 130375 possible interactions in the matrix (35 unique customers * 3725 unique SalesItems=130375)
PurchaseAmount = len(PurchaseSparse.nonzero()[0]) # 13837 SalesItems interacted with; 
sparsity = 100*(1 - (PurchaseAmount/MatrixSize))
sparsity

89.38676893576223

Since we will use Matrix Factorization for our collaborative filtering it should not be a problem that 89.3% of the interaction matrix is sparse. In plain English, 89,3% in our case means that only 10,7% of our customer-item interactions are already filled, meaning that most items have not been purchased by customers. It is said that collaborative filtering can even work well with even more sparse data. We can prove that it works when checking our decent recommendings in the end. Cosine Similarity is a good measure for sparse data, so we will stick to Cosine (instead of Pearson, Euclidean or Manhattan).

# Recommending

We have already talked about sparsity. However, we will start with a simple recommender first, before we come to more advanced techniques also using optimization for sparse matrices. However, we can normalize items by purchase frequency across all users, which is done in section 3.3. below.

In [12]:
#for every dataset we will add a 1 as purchased. That means, that this customer has purchased this item, no matter how many. We use this binary data for our recommending. Another approach would be to use the SalesAmount and 
#normalize it, in case you want to treat the Amount of SalesItems purchased as a kind of taste factor, meaning that someone who bought SalesItem x 100 times, while another Customer bought that same SalesItem x only 5 times does 
#not like it as much. I believe, that very often in Sales a binary approach makes more sense, but of course that depends on the data.
def create_DataBinary(DataGrouped):
    DataBinary = DataPrep.copy()
    DataBinary['PurchasedYes'] = 1 
    return DataBinary

DataBinary = create_DataBinary(DataGrouped)
DataBinary.head()

   SalesItem  SalesAmount  Customer  PurchasedYes
0          0           10         0             1
1          0           10         0             1
2          0           30         0             1
3          1           10         0             1
4          2            2         0             1

In [13]:
data2=DataBinary.drop(['SalesAmount'], axis=1)
data2.head()

   SalesItem  Customer  PurchasedYes
0          0         0             1
1          0         0             1
2          0         0             1
3          1         0             1
4          2         0             1

In [14]:
#for better convenience we add I for Item for every SalesItem. Otherwise we would only have customer and SalesItem Numbers, which can be a little bit puzzling.
data2['SalesItem'] = 'I' + data2['SalesItem'].astype(str)

In [15]:

#DfMatrix = pd.pivot_table(data,index=["Customer"], columns='SalesItem')
DfMatrix = pd.pivot_table(data2, values='PurchasedYes', index='Customer', columns='SalesItem')
DfMatrix.head()

SalesItem   I0   I1  I10  I100  I1000  ...  I995  I996  I997  I998  I999
Customer                               ...
0          1.0  1.0  NaN   NaN    NaN  ...   NaN   NaN   NaN   NaN   NaN
1          NaN  NaN  NaN   NaN    NaN  ...   NaN   NaN   NaN   NaN   NaN
2          NaN  NaN  1.0   1.0    1.0  ...   NaN   NaN   1.0   1.0   NaN
3          NaN  NaN  1.0   NaN    NaN  ...   NaN   NaN   NaN   NaN   NaN
4          NaN  NaN  NaN   1.0    NaN  ...   NaN   NaN   NaN   NaN   NaN

[5 rows x 3725 columns]

In [16]:
#since we are only using 1 and 0, we do not need to think about normalization. But talk is cheap, let`s check to see that even if we would normalize, the result is the same, of course:
DfMatrix=DfMatrix.fillna(0) #NaN values need to get replaced by 0, meaning they have not been purchased yet.
DfMatrixNorm3 = (DfMatrix-DfMatrix.min())/(DfMatrix.max()-DfMatrix.min())
DfMatrixNorm3.head()
#the proof is in the pudding. But we will come back to normalization later on again, when we will take real Sales Amount into consideration for recommending as well.

SalesItem   I0   I1  I10  I100  I1000  ...  I995  I996  I997  I998  I999
Customer                               ...
0          1.0  1.0  0.0   0.0    0.0  ...   0.0   0.0   0.0   0.0   0.0
1          0.0  0.0  0.0   0.0    0.0  ...   0.0   0.0   0.0   0.0   0.0
2          0.0  0.0  1.0   1.0    1.0  ...   0.0   0.0   1.0   1.0   0.0
3          0.0  0.0  1.0   0.0    0.0  ...   0.0   0.0   0.0   0.0   0.0
4          0.0  0.0  0.0   1.0    0.0  ...   0.0   0.0   0.0   0.0   0.0

[5 rows x 3725 columns]

In [17]:
#we need to bring our pivot table into the desired format, via reset_index and rename_axis. 
DfResetted = DfMatrix.reset_index().rename_axis(None, axis=1) 
DfResetted.head()
#Now each row represents one customer`s buying behaviour: 1 means the customer has purchased, NaN the customer has not yet purchased it

   Customer   I0   I1  I10  I100  I1000  ...  I994  I995  I996  I997  I998  I999
0         0  1.0  1.0  0.0   0.0    0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
1         1  0.0  0.0  0.0   0.0    0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
2         2  0.0  0.0  1.0   1.0    1.0  ...   1.0   0.0   0.0   1.0   1.0   0.0
3         3  0.0  0.0  1.0   0.0    0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
4         4  0.0  0.0  0.0   1.0    0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0

[5 rows x 3726 columns]

In [18]:

DfMatrix.shape

(35, 3725)

In [19]:
df=DfResetted #now working: because Customer must be nvarchar! If customer is int, then failure during CustItemSimilarity!

In [20]:
#we need to replace the NaN values with a 0, because our function will not work on NaN values.
#Please note, that we are only checking if a specific customer bought a specific item, yes or no. That is called binary. If customer bought a specific item, that means 1. If not, then 0. Because of this binary problem there is 
#no use in using any further scaling techniques.
df=df.fillna(0)
df.head()

   Customer   I0   I1  I10  I100  I1000  ...  I994  I995  I996  I997  I998  I999
0         0  1.0  1.0  0.0   0.0    0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
1         1  0.0  0.0  0.0   0.0    0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
2         2  0.0  0.0  1.0   1.0    1.0  ...   1.0   0.0   0.0   1.0   1.0   0.0
3         3  0.0  0.0  1.0   0.0    0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
4         4  0.0  0.0  0.0   1.0    0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0

[5 rows x 3726 columns]

In [21]:
#Creating a dataframe which only includes Sales Items. Customer is indexed instead.
DfSalesItem = df.drop('Customer', 1) 
DfSalesItem.head()

    I0   I1  I10  I100  I1000  I1001  ...  I994  I995  I996  I997  I998  I999
0  1.0  1.0  0.0   0.0    0.0    0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
1  0.0  0.0  0.0   0.0    0.0    0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
2  0.0  0.0  1.0   1.0    1.0    0.0  ...   1.0   0.0   0.0   1.0   1.0   0.0
3  0.0  0.0  1.0   0.0    0.0    0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
4  0.0  0.0  0.0   1.0    0.0    0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0

[5 rows x 3725 columns]

In [22]:
#Calculate the Item based recommendation
import numpy as np
# We will normalize dataframe now, due to ..
#I believe we do not need to normalize, but let us compare..
#vectorized
DfSalesItemNorm = DfSalesItem / np.sqrt(np.square(DfSalesItem).sum(axis=0)) 
DfSalesItemNorm.head()

         I0        I1       I10      I100  ...  I996      I997      I998  I999
0  0.333333  0.301511  0.000000  0.000000  ...   0.0  0.000000  0.000000   0.0
1  0.000000  0.000000  0.000000  0.000000  ...   0.0  0.000000  0.000000   0.0
2  0.000000  0.000000  0.408248  0.288675  ...   0.0  0.353553  0.408248   0.0
3  0.000000  0.000000  0.408248  0.000000  ...   0.0  0.000000  0.000000   0.0
4  0.000000  0.000000  0.000000  0.288675  ...   0.0  0.000000  0.000000   0.0

[5 rows x 3725 columns]

In [23]:
# Calculating with Vectors to compute Cosine Similarities
ItemItemSim = DfSalesItemNorm.transpose().dot(DfSalesItemNorm) 
ItemItemSim.head()

             I0        I1       I10  ...      I997      I998      I999
I0     1.000000  0.703526  0.136083  ...  0.235702  0.272166  0.384900
I1     0.703526  1.000000  0.123091  ...  0.213201  0.246183  0.174078
I10    0.136083  0.123091  1.000000  ...  0.577350  0.500000  0.235702
I100   0.192450  0.174078  0.589256  ...  0.714435  0.707107  0.500000
I1000  0.333333  0.150756  0.408248  ...  0.707107  0.816497  0.866025

[5 rows x 3725 columns]

In [24]:
#Another approach to the above would be using corr fct
#Where is the difference?
SalesItemCorrelation = DfSalesItem.corr()
SalesItemCorrelation.head()

             I0        I1       I10  ...      I997      I998      I999
I0     1.000000  0.587412 -0.094161  ... -0.008896  0.079293  0.286896
I1     0.587412  1.000000 -0.144639  ... -0.075378  0.018663  0.012563
I10   -0.094161 -0.144639  1.000000  ...  0.474555  0.396552  0.131534
I100  -0.149528 -0.229686  0.470011  ...  0.610246  0.629724  0.423896
I1000  0.199600 -0.049743  0.313164  ...  0.659912  0.789719  0.852386

[5 rows x 3725 columns]

In [25]:
#ItemItemSim.to_excel("ExportItem-Item.xlsx")
# Create a placeholder items for closes neighbours to an item
ItemNeighbours = pd.DataFrame(index=ItemItemSim.columns,columns=range(1,10))
ItemNeighbours.head()

         1    2    3    4    5    6    7    8    9
I0     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
I1     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
I10    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
I100   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
I1000  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [26]:
# Create a placeholder items for closes neighbours to an item
#ItemNeighbours = pd.DataFrame(index=ItemItemSim.columns,columns=range(1,10)) 
# Loop through our similarity dataframe and fill in neighbouring item names
for i in range(0,len(ItemItemSim.columns)):
    ItemNeighbours.iloc[i,:9] = ItemItemSim.iloc[0:,i].sort_values(ascending=False)[:9].index
    #we only have 9 items, so we can max recommend 9 items (itself included)

In [27]:
ItemNeighbours.head()

          1      2      3      4      5      6      7      8      9
I0       I0     I2     I1   I769  I1134   I705   I704  I1139  I1138
I1       I1   I768   I759   I758   I754   I757   I749   I750   I753
I10     I10  I1699  I1696  I1674  I2102    I19  I1242   I970   I254
I100   I161    I86   I146   I128    I71   I152   I193    I89   I200
I1000  I747   I962  I1041   I893   I930  I1000   I790   I975   I917

In [28]:
ItemNeighbours.head().iloc[:11,1:9]
#it needs to start at position 1, because position 0 is itself

           2      3      4      5      6      7      8      9
I0        I2     I1   I769  I1134   I705   I704  I1139  I1138
I1      I768   I759   I758   I754   I757   I749   I750   I753
I10    I1699  I1696  I1674  I2102    I19  I1242   I970   I254
I100     I86   I146   I128    I71   I152   I193    I89   I200
I1000   I962  I1041   I893   I930  I1000   I790   I975   I917

In [29]:
ItemNeighbours.to_excel("ExportItem-Item-data_neighbours.xlsx")

Now we will create a customer based recommendation which we need our item similarity matrix for. Then we will have a look which items our customers have bought and get the top N neighbours for each item. Afterwards we calculate the purchase history of the customer for each neighbour and calculate a similarity score for them. So in the end we just have to recommend the items with the highest score.

In [30]:
#Now we will build a Customer based recommendation, which is build upon the item-item similarity matrix, which we have just calculated above.
# Create a place holder matrix for similarities, and fill in the customer column
CustItemSimilarity = pd.DataFrame(index=df.index,columns=df.columns)
CustItemSimilarity.iloc[:,:1] = df.iloc[:,:1]

In [31]:
CustItemSimilarity.head()

  Customer   I0   I1  I10 I100 I1000 I1001  ... I993 I994 I995 I996 I997 I998 I999
0        0  NaN  NaN  NaN  NaN   NaN   NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1        1  NaN  NaN  NaN  NaN   NaN   NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2        2  NaN  NaN  NaN  NaN   NaN   NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3        3  NaN  NaN  NaN  NaN   NaN   NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4        4  NaN  NaN  NaN  NaN   NaN   NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[5 rows x 3726 columns]

In [32]:
# Getting the similarity scores
def getScore(history, similarities):
   return sum(history*similarities)/sum(similarities)

In [33]:
# This takes ages (35 customers * 3725 items)
#We now loop through the rows and columns filling in empty spaces with similarity scores.
#Note that we score items that the customer has already consumed as 0, because there is no point recommending it again.
from timeit import default_timer as timer #to see how long the computation will take
start = timer()


for i in range(0,len(CustItemSimilarity.index)):
    for j in range(1,len(CustItemSimilarity.columns)):
        user = CustItemSimilarity.index[i]
        product = CustItemSimilarity.columns[j]
 
        if df.loc[i][j] == 1:
            CustItemSimilarity.loc[i][j] = 0
        else:
            ItemTop = ItemNeighbours.loc[product][1:9] #
            #do not use order but sort_values in latest pandas
            ItemTopSimilarity = ItemItemSim.loc[product].sort_values(ascending=False)[1:9]
            #here we will use the item dataframe, which we generated during item-item matrix 
            CustomerPurchasings = DfSalesItem.loc[user,ItemTop]
 
            CustItemSimilarity.loc[i][j] = getScore(CustomerPurchasings,ItemTopSimilarity)

end = timer()

print('\nRuntime: %0.2fs' % (end - start))

#if there occurs a strange error  tz=getattr(series.dtype, 'tz', None) .. pandas index.. then this might be if you have used int
# as column headers instead of string

Runtime: 450.15s

In [34]:
CustItemSimilarity.head()

  Customer I0 I1       I10 I100 I1000  ...      I994 I995 I996 I997 I998 I999
0        0  0  0         0    0     0  ...         0    0    0    0    0    0
1        1  0  0         0    0     0  ...         0    0    0    0    0    0
2        2  0  0         0    0     0  ...         0    0    0    0    0    0
3        3  0  0         0    0     0  ...         0    0    0    0    0    0
4        4  0  0  0.122612    0     0  ...  0.495722    0    0    0    0    0

[5 rows x 3726 columns]

In [35]:
#now generate a matrix of customer based recommendations
CustItemRecommend = pd.DataFrame(index=CustItemSimilarity.index, columns=['Customer','1','2','3','4','5','6']) #Top 1,2..6
CustItemRecommend.head()

  Customer    1    2    3    4    5    6
0      NaN  NaN  NaN  NaN  NaN  NaN  NaN
1      NaN  NaN  NaN  NaN  NaN  NaN  NaN
2      NaN  NaN  NaN  NaN  NaN  NaN  NaN
3      NaN  NaN  NaN  NaN  NaN  NaN  NaN
4      NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [36]:
CustItemRecommend.iloc[0:,0] = CustItemSimilarity.iloc[:,0]
CustItemRecommend.head()

  Customer    1    2    3    4    5    6
0        0  NaN  NaN  NaN  NaN  NaN  NaN
1        1  NaN  NaN  NaN  NaN  NaN  NaN
2        2  NaN  NaN  NaN  NaN  NaN  NaN
3        3  NaN  NaN  NaN  NaN  NaN  NaN
4        4  NaN  NaN  NaN  NaN  NaN  NaN

In [37]:
#Instead of having the matrix filled with similarity scores we want to see the product names.
for i in range(0,len(CustItemSimilarity.index)):
    CustItemRecommend.iloc[i,1:] = CustItemSimilarity.iloc[i,:].sort_values(ascending=False).iloc[1:7,].index.transpose()

In [38]:
CustItemRecommend.head()

  Customer      1     2      3      4      5      6
0        0  I1134  I999  I2128  I2126  I2125  I2124
1        1  I1194  I650  I1133  I1132   I292   I408
2        2  I1165  I168   I169   I272   I299   I394
3        3   I192   I92    I61    I73   I108   I229
4        4  I1165  I280  I1179   I157     I6   I124

In [39]:

CustItemRecommend.to_excel("ExportCustomer-Item-CustItemRecommend.xlsx")
#We have coded a binary recommender engine, which works only sufficient on a smal data set. Let us see in the next chapter if we can enhance the performance and scalability.

# A more performant approach
# sklearn.metrics.pairwise cosine_similarity

In [40]:
import pandas as pd
import numpy as np
#We will use optimized recommender libraries instead of hand coding the functions like we did in the previous chapter. This hopefully brings us convenience and performance boost
from sklearn.metrics.pairwise import cosine_similarity
from scipy import sparse
#data = pd.read_excel('/content/gdrive/My Drive/DDDDFolder/DDDD.xlsx') 
def create_DataBinary(data):
    DataBinary = data.copy()
    DataBinary['PurchasedYes'] = 1
    return DataBinary

DataBinary = create_DataBinary(data)
data=DataBinary.drop(['SalesValue','SalesDate','SalesTransactionID','SalesAmount'], axis=1)
DfMatrix = pd.pivot_table(data, values='PurchasedYes', index='Customer', columns='SalesItem')
DfResetted = DfMatrix.reset_index().rename_axis(None, axis=1)
DfResetted=DfResetted.fillna(0)
data=DfResetted
data_items = data.drop('Customer', 1)
#Starting point now is the same like in our previous approach:

In [41]:
#Compute Item-Item cosine similarity
# As a first step we normalize the user vectors to unit vectors.
# Cosine similarity, or the cosine kernel, computes similarity as the normalized dot product of X and Y:
#  K(X, Y) =  X, Y  / (||X||*||Y||)
# magnitude = sqrt(x2 + y2 + z2 + ...)
magnitude = np.sqrt(np.square(data_items).sum(axis=1))
# unitvector = (x / magnitude, y / magnitude, z / magnitude, ...)
data_items = data_items.divide(magnitude, axis='index')
#Compute the column-wise cosine similarity using our sparse matrix
def GetItemItemSim(data_items):
    data_sparse = sparse.csr_matrix(data_items)
    #SalesItemCustomerMatrixs=csr_matrix(([1]*len(user_ids),(product_ids, user_ids))) #hier wird das data_items also selbst aufgebaut
    #no difference, no matter if you use data_sparse or not?!--> does normalizing make the differnce?
    #similarities = cosine_similarity(data_items.transpose())
    similarities = cosine_similarity(data_sparse.transpose())#warum transpose?
    #similarity=cosine_similarity(SalesItemCustomerMatrixs)#das gleiche, aber ohne transpose-wechselt Zeilen/Spalten
    sim = pd.DataFrame(data=similarities, index= data_items.columns, columns= data_items.columns)
    #Return a Pandas DataFrame Matrix including the Similarities
    return sim #why not ,similarities?

data_matrix = GetItemItemSim(data_items)
#Compute Customer-Item Matrix to store which SalesItems the Customer has bought.
Customer = 0 # The id of the user for whom we want to generate recommendations --> change!
CustomerIndex = data[data.Customer == Customer].index.tolist()[0] # Get the frame index
CustomerItemPurch = data_items.iloc[CustomerIndex]
CustomerItemPurch = CustomerItemPurch[CustomerItemPurch >0].index.values
# Users likes for all items as a sparse vector.
user_rating_vector = data_items.iloc[CustomerIndex]
# Calculate the score.
score = data_matrix.dot(user_rating_vector).div(data_matrix.sum(axis=1))
# Remove the known likes from the recommendation.
score = score.drop(CustomerItemPurch)

#Customer Item Calculation

# Construct a new dataframe with the 10 closest neighbours (most similar) for each Customer
data_neighbours = pd.DataFrame(index=data_matrix.columns, columns=range(1,11))
for i in range(0, len(data_matrix.columns)):
    data_neighbours.iloc[i,:9] = data_matrix.iloc[0:,i].sort_values(ascending=False)[:9].index  #nearest 9 neighbours?

# Construct the neighbourhood from the most similar SalesItems to the ones the Customer has already liked.
most_similar_to_likes = data_neighbours.iloc[CustomerItemPurch]
similar_list = most_similar_to_likes.values.tolist()
similar_list = list(set([item for sublist in similar_list for item in sublist]))
#I did just drop nan, but I need to check this since it might result in wrong recommendations
similar_list = [similar_list for similar_list in similar_list if str(similar_list) != 'nan']

neighbourhood = data_matrix[similar_list].iloc[similar_list]
# A Customer vector containing only the neighbourhood SalesItems and the known Customer likes.
user_vector = data_items.iloc[CustomerIndex].iloc[similar_list]
# Calculate the score.
score = neighbourhood.dot(user_vector).div(neighbourhood.sum(axis=1))
# Drop the known likes.
score = score.drop(CustomerItemPurch)

In [42]:
data_matrix

          0         1         2         3     ...  3746  3747  3748      3750
0     1.000000  0.705107  0.916830  0.000000  ...   0.0   0.0   0.0  0.000000
1     0.705107  1.000000  0.565765  0.000000  ...   0.0   0.0   0.0  0.000000
2     0.916830  0.565765  1.000000  0.000000  ...   0.0   0.0   0.0  0.000000
3     0.000000  0.000000  0.000000  1.000000  ...   0.0   0.0   0.0  0.000000
4     0.001032  0.005755  0.001126  0.932249  ...   0.0   0.0   0.0  0.134852
...        ...       ...       ...       ...  ...   ...   ...   ...       ...
3745  0.000000  0.000000  0.000000  0.000000  ...   1.0   1.0   1.0  0.000000
3746  0.000000  0.000000  0.000000  0.000000  ...   1.0   1.0   1.0  0.000000
3747  0.000000  0.000000  0.000000  0.000000  ...   1.0   1.0   1.0  0.000000
3748  0.000000  0.000000  0.000000  0.000000  ...   1.0   1.0   1.0  0.000000
3750  0.000000  0.000000  0.000000  0.000000  ...   0.0   0.0   0.0  1.000000

[3725 rows x 3725 columns]

In [43]:
# Lets get the top 10 similar items for item 0; only works, if items are int, not navarchar
print (data_matrix.loc[0].nlargest(10))

0       1.000000
2       0.916830
1       0.705107
768     0.533081
704     0.442185
769     0.423981
705     0.399591
706     0.397427
1134    0.290744
1135    0.252792
Name: 0, dtype: float64

In [44]:
user_rating_vector.head()

0    0.5
1    0.5
2    0.5
3    0.0
4    0.0
Name: 0, dtype: float64

In [45]:
score.head()

704     0.101308
769     0.180301
705     0.114797
706     0.114599
1134    0.066635
dtype: float64

In [46]:
# Print the known likes and the top 20 recommendations.
print (CustomerItemPurch)
print (score.nlargest(20))
#known customer likes are 0 and 2 and their most recommended items are:

[0 1 2 768]
769     0.180301
705     0.114797
706     0.114599
704     0.101308
758     0.079916
759     0.079916
701     0.078162
753     0.074658
756     0.074496
1134    0.066635
1135    0.063053
1138    0.062198
1139    0.062198
dtype: float64

In [47]:
print (CustomerItemPurch)
print (score.nlargest(6))

[0 1 2 768]
769    0.180301
705    0.114797
706    0.114599
704    0.101308
758    0.079916
759    0.079916
dtype: float64

# Pandas and Scikit-Learn Stack

In [48]:
# Now let's see if we can improve the performance even further
import pandas as pd
import numpy as np
from scipy.sparse import coo_matrix, csr_matrix
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import LabelEncoder
from timeit import default_timer as timer

In [49]:
#df = pd.read_excel('/content/gdrive/My Drive/DDDDFolder/DDDD.xlsx') #now working: because Customer must be nvarchar! If customer is int, then failure during CustItemSimilarity!
purchase_data=data2
purchase_data.head()

  SalesItem  Customer  PurchasedYes
0        I0         0             1
1        I0         0             1
2        I0         0             1
3        I1         0             1
4        I2         0             1

In [50]:
#Compute Item-Item cosine similarity
#Customer list-like, meaning Customer at n-th position of list purchased n-th SalesItem
#Salesitem also list-like, meaning SalesItem at n-th position of list purchased by n-th Customer
#Returning an Item-Item Similarity Matrix (array-like)
def GetItemItemSim(user_ids, product_ids):
    SalesItemCustomerMatrixs = csr_matrix(([1]*len(user_ids), (product_ids, user_ids))) 
    similarity = cosine_similarity(SalesItemCustomerMatrixs)
    return similarity, SalesItemCustomerMatrixs

#check=GetItemItemSim(user_ids, product_ids)

In [51]:
#Compute Top SalesItem recommendations per Customer
#using the Item-Item Similarity Matrix from above cell
#creating a SalesItemCustomerMatrixs which is also an array, meaning SalesItems per rows and Customer as columns as a binary incidence matrix
#Top_n can be set by yourself, must be int only
#Returning recommendations per Customer as a Pandas DataFrame
def get_recommendations_from_similarity(similarity_matrix, SalesItemCustomerMatrixs, top_n=10):
    CustomerSalesItemMatrixs = csr_matrix(SalesItemCustomerMatrixs.T)
    CustomerSalesItemScores = CustomerSalesItemMatrixs.dot(similarity_matrix) # sum of similarities to all purchased products
    RecForCust = []
    for user_id in range(CustomerSalesItemScores.shape[0]):
        scores = CustomerSalesItemScores[user_id, :]
        purchased_items = CustomerSalesItemMatrixs.indices[CustomerSalesItemMatrixs.indptr[user_id]:
                                                      CustomerSalesItemMatrixs.indptr[user_id+1]]
        scores[purchased_items] = -1 # do not recommend already purchased SalesItem
        top_products_ids = np.argsort(scores)[-top_n:][::-1]

        recommendations = pd.DataFrame(
            top_products_ids.reshape(1, -1),
            index=[user_id],
            columns=['Top%s' % (i+1) for i in range(top_n)])
        RecForCust.append(recommendations)
        
    return pd.concat(RecForCust)

In [52]:
def get_recommendations(purchase_data):
    # replace Customer and product labels with consecutive integer ids --> not needed any longer
    user_label_encoder = LabelEncoder()
    user_ids = user_label_encoder.fit_transform(purchase_data.Customer)
    
    product_label_encoder = LabelEncoder()
    product_ids = product_label_encoder.fit_transform(purchase_data.SalesItem)

    # compute recommendations
    similarity_matrix, SalesItemCustomerMatrixs = GetItemItemSim(user_ids, product_ids)

    recommendations = get_recommendations_from_similarity(similarity_matrix, SalesItemCustomerMatrixs)

    # project ids back to original labels
    recommendations.index = user_label_encoder.inverse_transform(recommendations.index) #only needed, if you want to map back from codes to names
    
    for i in range(recommendations.shape[1]):
        recommendations.iloc[:, i] = product_label_encoder.inverse_transform(recommendations.iloc[:, i])#only needed, if you want to map back from codes to names
    return recommendations

In [53]:
# this cell will start our recommender
start = timer()
recommendations = get_recommendations(purchase_data)
end = timer()

print('\nRuntime: %0.2fs' % (end - start))

Runtime: 0.50s

In [54]:
print (recommendations)

     Top1   Top2   Top3   Top4   Top5   Top6   Top7   Top8   Top9  Top10
0    I769   I253  I1146  I1138   I749   I613   I752   I756   I430   I750
1   I1207   I857  I1706  I2532  I1456  I1120  I1988  I2482  I1888  I1890
2   I1206   I301   I390  I1254  I1453    I15  I1283   I820  I1446   I799
3     I72  I1206   I795   I205   I156   I229   I226   I655   I965   I107
4    I954    I15   I635   I911   I419   I287  I1301   I861   I859   I284
5    I598   I264   I411   I552   I649   I134   I346   I880  I1014  I2676
6     I72   I419   I795   I229   I655   I500   I226  I1206   I514   I911
7    I795  I1230   I911   I806  I1206  I1254   I965  I1284  I1283   I954
8    I964   I399  I1788    I79   I145   I471    I97   I269   I897   I123
9      I2   I769   I253  I1146  I1138   I752   I430   I753   I431   I749
10  I2763  I2426  I2765  I2090  I2522  I2202  I2413  I2525  I1922  I1627
11  I1230   I100   I614  I1245   I842   I840   I147   I839   I227   I506
12  I1206  I1230   I109   I500  I1284  I1301   I281  I1283  I1345  I1348
13   I756   I755  I1139   I430  I1146  I1142  I1138   I431  I1137   I753
14   I769  I1146  I1138  I1141  I1143  I1147     I2  I1142  I1144  I1145
15   I752   I769  I1146   I751  I1138  I1142     I2  I1139  I1147  I1141
16   I253   I613   I756   I749  I1146  I1142   I750  I1139   I755  I1138
17   I756   I755   I769  I1146  I1138   I753   I758  I1137     I1  I1134
18   I769  I1146  I1142   I751   I768  I1148  I1143  I1141  I1147  I1144
19   I226   I100   I470  I1230  I1237  I1301    I90  I1319   I558   I614
20  I1254  I1394  I1393  I1186  I1379  I1297  I1473  I1396  I1366  I1395
21  I1248  I1251   I505   I506   I645  I1125   I624   I644   I606   I577
23   I756   I701   I755  I1146  I1138  I1142  I1139  I1143  I1147  I1141
24   I704   I402   I485   I637   I486  I1534  I1606  I1697  I1753  I2177
25  I1284   I614   I965  I1345  I1230  I1362   I601   I877  I1446   I611
26   I213   I315   I258   I647   I201   I237   I131   I132   I269   I655
27   I154   I308    I74   I293  I1386   I898  I1813  I1821    I61   I310
28  I1943   I104    I83    I63   I105   I102   I516   I120   I720  I1019
29   I560  I1351   I598   I168  I1788   I144   I306  I1453   I573  I1345
30  I3568  I3569  I3148  I3312  I3338  I1359  I3147  I3439  I3618  I3186
31   I184  I1159  I1699    I95  I1184    I77  I1483  I1421  I1638   I563
32   I190   I614  I1283  I1284   I500   I205   I965   I281  I1394    I90
33  I1943  I1945  I2154  I2153  I1946  I1941  I1947  I1942  I1944  I2778
34  I1206   I911   I233  I1453  I1446   I611   I441  I1301   I556   I964
35   I431   I753   I758   I759  I1138   I430  I1143  I1141  I1147   I253

In [55]:
dfrec = recommendations

In [56]:
dfrec.head()

    Top1   Top2   Top3   Top4   Top5   Top6   Top7   Top8   Top9  Top10
0   I769   I253  I1146  I1138   I749   I613   I752   I756   I430   I750
1  I1207   I857  I1706  I2532  I1456  I1120  I1988  I2482  I1888  I1890
2  I1206   I301   I390  I1254  I1453    I15  I1283   I820  I1446   I799
3    I72  I1206   I795   I205   I156   I229   I226   I655   I965   I107
4   I954    I15   I635   I911   I419   I287  I1301   I861   I859   I284

In [57]:
dfrec.to_excel("ExportCustomerName-Itemname.xlsx")

# Evaluation: Coverage

In [58]:
# calculate the share of items recommended
all_recommended_items = recommendations.values.reshape(-1, 1)[:, 0]
n_items = len(np.unique(purchase_data.SalesItem))
n_recommended_items = len(np.unique(all_recommended_items))
coverage = n_recommended_items / n_items

print('Coverage: %0.2f' % coverage)

Coverage: 0.06

In [59]:
abs_rec_frequency = pd.DataFrame({'recommended': all_recommended_items, 'count': 1}).groupby('recommended').count()
top_5_recs_overall = (abs_rec_frequency.sort_values('count', ascending=False) /
                      abs_rec_frequency['count'].sum())[:5]

print('5 most frequent recommendations:\n %s' % top_5_recs_overall)

5 most frequent recommendations:
                 count
recommended
I1138        0.025714
I1146        0.025714
I1206        0.017143
I769         0.017143
I1142        0.017143

# Turicreate

In [60]:
pip install turicreate

Requirement already satisfied: turicreate in /usr/local/lib/python3.6/dist-packages (6.4.1)
Requirement already satisfied: coremltools==3.3 in /usr/local/lib/python3.6/dist-packages (from turicreate) (3.3)
Requirement already satisfied: numba<0.51.0 in /usr/local/lib/python3.6/dist-packages (from turicreate) (0.48.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from turicreate) (1.18.5)
Requirement already satisfied: prettytable==0.7.2 in /usr/local/lib/python3.6/dist-packages (from turicreate) (0.7.2)
Requirement already satisfied: pillow>=5.2.0 in /usr/local/lib/python3.6/dist-packages (from turicreate) (7.0.0)
Requirement already satisfied: resampy==0.2.1 in /usr/local/lib/python3.6/dist-packages (from turicreate) (0.2.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from turicreate) (1.15.0)
Requirement already satisfied: tensorflow<2.1.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from turicreate) (2.0.3)
Requirement already satisfied: decorator>=4.0.9 in /usr/local/lib/python3.6/dist-packages (from turicreate) (4.4.2)
Requirement already satisfied: requests>=2.9.1 in /usr/local/lib/python3.6/dist-packages (from turicreate) (2.23.0)
Requirement already satisfied: pandas>=0.23.2 in /usr/local/lib/python3.6/dist-packages (from turicreate) (1.1.4)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from turicreate) (1.4.1)
Requirement already satisfied: protobuf>=3.1.0 in /usr/local/lib/python3.6/dist-packages (from coremltools==3.3->turicreate) (3.12.4)
Requirement already satisfied: llvmlite<0.32.0,>=0.31.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba<0.51.0->turicreate) (0.31.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from numba<0.51.0->turicreate) (50.3.2)
Requirement already satisfied: absl-py>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.1.0,>=2.0.0->turicreate) (0.10.0)
Requirement already satisfied: google-pasta>=0.1.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.1.0,>=2.0.0->turicreate) (0.2.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.1.0,>=2.0.0->turicreate) (3.3.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.1.0,>=2.0.0->turicreate) (1.1.0)
Requirement already satisfied: wrapt>=1.11.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.1.0,>=2.0.0->turicreate) (1.12.1)
Requirement already satisfied: grpcio>=1.8.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.1.0,>=2.0.0->turicreate) (1.33.2)
Requirement already satisfied: tensorboard<2.1.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.1.0,>=2.0.0->turicreate) (2.0.2)
Requirement already satisfied: gast==0.2.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.1.0,>=2.0.0->turicreate) (0.2.2)
Requirement already satisfied: keras-preprocessing>=1.0.5 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.1.0,>=2.0.0->turicreate) (1.1.2)
Requirement already satisfied: tensorflow-estimator<2.1.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.1.0,>=2.0.0->turicreate) (2.0.1)
Requirement already satisfied: keras-applications>=1.0.8 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.1.0,>=2.0.0->turicreate) (1.0.8)
Requirement already satisfied: astor>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.1.0,>=2.0.0->turicreate) (0.8.1)
Requirement already satisfied: wheel>=0.26; python_version >= "3" in /usr/local/lib/python3.6/dist-packages (from tensorflow<2.1.0,>=2.0.0->turicreate) (0.35.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->turicreate) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->turicreate) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->turicreate) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->turicreate) (2020.6.20)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.2->turicreate) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.2->turicreate) (2.8.1)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (1.0.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (3.3.3)
Requirement already satisfied: google-auth<2,>=1.6.3 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (1.17.2)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (0.4.2)
Requirement already satisfied: h5py in /usr/local/lib/python3.6/dist-packages (from keras-applications>=1.0.8->tensorflow<2.1.0,>=2.0.0->turicreate) (2.10.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from markdown>=2.6.8->tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (2.0.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (4.1.1)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3" in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (4.6)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (1.3.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (3.4.0)
Requirement already satisfied: pyasn1>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from rsa<5,>=3.1.4; python_version >= "3"->google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.1.0,>=2.0.0->tensorflow<2.1.0,>=2.0.0->turicreate) (3.1.0)

In [61]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import time
import turicreate as tc
from sklearn.model_selection import train_test_split

import sys
sys.path.append("..")

In [62]:
data = pd.read_excel('/content/gdrive/My Drive/DDDDFolder/DDDD.xlsx')
data.head()

   SalesDate  SalesValue  SalesAmount  Customer  SalesTransactionID  SalesItem
0 2018-09-28      8280.0           10         0                   0          0
1 2018-09-28      7452.0           10         0                   0          0
2 2019-04-23     21114.0           30         0                   1          0
3 2019-04-23      7038.0           10         0                   1          1
4 2019-04-23      7000.0            2         0                   1          2

In [63]:
def create_DataBinary(data):
    DataBinary = data.copy()
    DataBinary['PurchasedYes'] = 1
    return DataBinary

In [64]:
DataBinary = create_DataBinary(data)

In [65]:
DataBinary.head()

   SalesDate  SalesValue  ...  SalesItem  PurchasedYes
0 2018-09-28      8280.0  ...          0             1
1 2018-09-28      7452.0  ...          0             1
2 2019-04-23     21114.0  ...          0             1
3 2019-04-23      7038.0  ...          1             1
4 2019-04-23      7000.0  ...          2             1

[5 rows x 7 columns]

In [66]:
def normalize_data(data):
    DfMatrix = pd.pivot_table(data, values='SalesAmount', index='Customer', columns='SalesItem')
    DfMatrixNorm = (DfMatrix-DfMatrix.min())/(DfMatrix.max()-DfMatrix.min())
    d = DfMatrixNorm.reset_index()
    d.index.names = ['scaled_purchase_freq']
    return pd.melt(d, id_vars=['Customer'], value_name='scaled_purchase_freq').dropna()

In [67]:
DataNorm=normalize_data(data)
print(DataNorm.shape)
DataNorm.head()

(12674, 3)

    Customer SalesItem  scaled_purchase_freq
0          0         0              0.377728
9          9         0              0.047214
16        16         0              0.165660
18        18         0              0.037792
22        23         0              0.000000

In [68]:
train, test = train_test_split(data2, test_size = .2)
train_data = tc.SFrame(train)
test_data = tc.SFrame(test)
print(train.shape, test.shape)

(273137, 3) (68285, 3)

In [69]:
# We can define a function for this above step as follows
def split_data(data):
    train, test = train_test_split(data, test_size = .2)
    train_data = tc.SFrame(train)
    test_data = tc.SFrame(test)
    return train_data, test_data

In [70]:
# lets try with both dummy table and scaled/normalized purchase table
train_DataBinary, test_DataBinary = split_data(DataBinary)
train_DataNorm, test_DataNorm = split_data(DataNorm)

In [71]:
DfResetted.head()

   Customer    0    1    2    3    4  ...  3744  3745  3746  3747  3748  3750
0         0  1.0  1.0  1.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
1         1  0.0  0.0  0.0  1.0  1.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
2         2  0.0  0.0  0.0  0.0  1.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
3         3  0.0  0.0  0.0  0.0  0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
4         4  0.0  0.0  0.0  0.0  1.0  ...   0.0   0.0   0.0   0.0   0.0   0.0

[5 rows x 3726 columns]

In [72]:
ItemCustMatrixTuri = pd.pivot_table(data, values='SalesAmount', index='SalesItem', columns='Customer') #SalesAmount vs PurchasedYes, Customer must be int for Turicreate to work, that is why data is used instead of data2
ItemCustMatrixTuri.head()

Customer          0    1         2   3         4   ...   31  32  33  34   35
SalesItem                                          ...
0          15.611111  NaN       NaN NaN       NaN  ...  3.2 NaN NaN NaN  7.0
1           8.777778  NaN       NaN NaN       NaN  ...  NaN NaN NaN NaN  NaN
2           1.444444  NaN       NaN NaN       NaN  ...  NaN NaN NaN NaN  3.0
3                NaN  1.0       NaN NaN       NaN  ...  NaN NaN NaN NaN  NaN
4                NaN  1.0  3.473684 NaN  1.444444  ...  NaN NaN NaN NaN  NaN

[5 rows x 35 columns]

In [73]:
ItemCustMatrixTuri=ItemCustMatrixTuri.fillna(0)
DfItemCustMatrix = ItemCustMatrixTuri.reset_index().rename_axis(None, axis=1)
DfItemCustMatrix.head()

   SalesItem          0    1         2    3  ...   31   32   33   34   35
0          0  15.611111  0.0  0.000000  0.0  ...  3.2  0.0  0.0  0.0  7.0
1          1   8.777778  0.0  0.000000  0.0  ...  0.0  0.0  0.0  0.0  0.0
2          2   1.444444  0.0  0.000000  0.0  ...  0.0  0.0  0.0  0.0  3.0
3          3   0.000000  1.0  0.000000  0.0  ...  0.0  0.0  0.0  0.0  0.0
4          4   0.000000  1.0  3.473684  0.0  ...  0.0  0.0  0.0  0.0  0.0

[5 rows x 36 columns]

In [74]:
transactions = pd.read_excel('/content/gdrive/My Drive/DDDDFolder/DDDDCustomer-ItemMatrixImport.xlsx') 
transactions.head()

   Customer    0  1   2  3   4  5  6  7  ...  27  28  29   30  31  32  33  34  35
0         0  281  0   0  0   0  0  0  0  ...   0   0   0    6  16   0   0   0  14
1         1  158  0   0  0   0  0  0  0  ...   0   0  20  204   0   0   0   0   0
2         2   13  0   0  0   0  0  0  0  ...   0   0   0    8   0   0   0   0   3
3         3    0  2   0  0   0  0  0  0  ...   0   0   0    0   0   0   0   0   0
4         4    0  3  66  0  26  0  0  8  ...   0   0  21  241   0   0   0   0   0

[5 rows x 36 columns]

In [75]:
# variables to define field names
user_id = 'Customer' 
item_id = 'SalesItem'
target = 'PurchasedYes' 
users_to_recommend = list(transactions[user_id])
n_rec = 10 # number of items to recommend
n_display = 30

In [76]:
# Since turicreate is very accessible library, we can define a model selection function as below

def model(train_data, name, user_id, item_id, target, users_to_recommend, n_rec, n_display):
    if name == 'pearson':
        model = tc.item_similarity_recommender.create(train_data, 
                                                    user_id=user_id, 
                                                    item_id=item_id, 
                                                    target=target, 
                                                    similarity_type='pearson')
    elif name == 'cosine':
        model = tc.item_similarity_recommender.create(train_data, 
                                                    user_id=user_id, 
                                                    item_id=item_id, 
                                                    target=target, 
                                                    similarity_type='cosine')
    #Pearson Correlation is simply centered cosine similarity. Pearson correlation is usually used if ratings are in common. 
        
    recom = model.recommend(users=users_to_recommend, k=n_rec)
    recom.print_rows(n_display)
    return model

In [77]:
customers=DfCustomerUnique
customers.head()

   Customer
0         0
1         1
2         2
3         3
4         4

Define Models using Turicreate library Before running a more complicated approach such as collaborative filtering, we should run a baseline model to compare and evaluate models. Since baseline typically uses a very simple approach, techniques used beyond this approach should be chosen if they show relatively better accuracy and complexity. In this case, we will be using popularity model. A more complicated but common approach to predict purchase items is collaborative filtering. I will discuss more about the popularity model and collaborative filtering in the later section. For now, let’s first define our variables to use in the models:

In [78]:
# variables to define field names
user_id = 'Customer'
item_id = 'SalesItem'
users_to_recommend = list(customers[user_id])
n_rec = 10 # number of items to recommend
n_display = 30

In [79]:
train.groupby(by=item_id)['PurchasedYes'].sum().sort_values(ascending=False).head(20)

SalesItem
I20     2380
I104    2110
I110    1863
I103    1801
I83     1640
I67     1596
I120    1471
I229    1435
I108    1394
I92     1319
I91     1257
I101    1198
I514    1179
I63     1132
I165    1111
I122    1095
I156    1060
I161    1055
I66     1028
I105     998
Name: PurchasedYes, dtype: int64

In [80]:
name = 'cosine'
target = 'PurchasedYes' 
cos = model(train_data, name, user_id, item_id, target, users_to_recommend, n_rec, n_display)

Preparing data set.

    Data has 273137 observations with 35 users and 3663 items.

    Data prepared in: 0.216968s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 967us                          | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 10.223ms                            | 44.75            | 1639            |

| 354.024ms                           | 100              | 3663            |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 1.38358s

+----------+-----------+----------------------+------+
| Customer | SalesItem |        score         | rank |
+----------+-----------+----------------------+------+
|    0     |    I753   |  0.6333644787470499  |  1   |
|    0     |    I758   |  0.624368409315745   |  2   |
|    0     |    I757   |  0.624368409315745   |  3   |
|    0     |    I430   |  0.5863815546035767  |  4   |
|    0     |   I1137   |  0.5847456256548563  |  5   |
|    0     |   I1138   |  0.5847456256548563  |  6   |
|    0     |   I1139   |  0.5847456256548563  |  7   |
|    0     |    I769   |  0.5847456256548563  |  8   |
|    0     |    I749   |  0.5840431650479635  |  9   |
|    0     |    I754   |  0.5840431650479635  |  10  |
|    1     |   I1612   | 0.21305563973217476  |  1   |
|    1     |   I1588   | 0.21305563973217476  |  2   |
|    1     |   I1551   |  0.206958078756565   |  3   |
|    1     |   I1686   |  0.206958078756565   |  4   |
|    1     |   I1764   |  0.206958078756565   |  5   |
|    1     |   I1610   |  0.206958078756565   |  6   |
|    1     |   I1655   |  0.206958078756565   |  7   |
|    1     |   I1609   |  0.206958078756565   |  8   |
|    1     |   I1618   |  0.206958078756565   |  9   |
|    1     |   I1772   |  0.206958078756565   |  10  |
|    2     |    I206   | 0.04155434184169434  |  1   |
|    2     |    I204   | 0.036345024950199645 |  2   |
|    2     |    I266   | 0.027681106559556645 |  3   |
|    2     |    I966   | 0.025745861765088956 |  4   |
|    2     |   I1356   | 0.024963496578256802 |  5   |
|    2     |   I1407   | 0.02376970184086915  |  6   |
|    2     |    I957   |  0.0237361481293145  |  7   |
|    2     |    I929   |  0.0237361481293145  |  8   |
|    2     |    I299   | 0.023363025009562235 |  9   |
|    2     |    I324   | 0.02204136160865059  |  10  |
+----------+-----------+----------------------+------+
[350 rows x 4 columns]

In [81]:
name = 'cosine'
target = 'PurchasedYes'
cos_dummy = model(train_DataBinary, name, user_id, item_id, target, users_to_recommend, n_rec, n_display)

Warning: Ignoring columns SalesDate, SalesValue, SalesAmount, SalesTransactionID;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 273137 observations with 35 users and 3658 items.

    Data prepared in: 0.171718s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 832us                          | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 17.66ms                             | 29               | 1061            |

| 377.238ms                           | 100              | 3658            |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 0.402777s

+----------+-----------+----------------------+------+
| Customer | SalesItem |        score         | rank |
+----------+-----------+----------------------+------+
|    0     |    758    |  0.6353145837783813  |  1   |
|    0     |    753    |  0.6052374243736267  |  2   |
|    0     |    749    |  0.5942823737859726  |  3   |
|    0     |    769    |  0.5942690372467041  |  4   |
|    0     |    752    |  0.5734167844057083  |  5   |
|    0     |    757    |  0.4764312505722046  |  6   |
|    0     |    253    |  0.4764312505722046  |  7   |
|    0     |    750    |  0.4764312505722046  |  8   |
|    0     |    754    |  0.4764312505722046  |  9   |
|    0     |    613    |  0.4764312505722046  |  10  |
|    1     |    639    |  0.183076993872722   |  1   |
|    1     |    291    | 0.17670882617433867  |  2   |
|    1     |    575    | 0.16910156855980554  |  3   |
|    1     |    493    | 0.16910156855980554  |  4   |
|    1     |    565    | 0.16910156855980554  |  5   |
|    1     |    652    | 0.16910156855980554  |  6   |
|    1     |    194    | 0.16886174554626146  |  7   |
|    1     |    293    |  0.1640560564895471  |  8   |
|    1     |    359    |  0.1640560564895471  |  9   |
|    1     |    1459   |  0.1636535165210565  |  10  |
|    2     |    204    | 0.041711752247151145 |  1   |
|    2     |    1220   | 0.03855499741943201  |  2   |
|    2     |     15    | 0.03397285883327783  |  3   |
|    2     |    276    | 0.03246257560593741  |  4   |
|    2     |    206    | 0.03232131712997015  |  5   |
|    2     |    1475   | 0.029560480592986955 |  6   |
|    2     |    1307   | 0.029266466536829547 |  7   |
|    2     |    1342   | 0.027556499303211263 |  8   |
|    2     |    966    | 0.027333011893632776 |  9   |
|    2     |    415    | 0.027333011893632776 |  10  |
+----------+-----------+----------------------+------+
[350 rows x 4 columns]

In [82]:
name = 'cosine'
target = 'scaled_purchase_freq'
cos_norm = model(train_DataNorm, name, user_id, item_id, target, users_to_recommend, n_rec, n_display)

Preparing data set.

    Data has 10139 observations with 34 users and 2641 items.

    Data prepared in: 0.017226s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 750us                          | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 9.281ms                             | 2.75             | 78              |

| 219.681ms                           | 100              | 2641            |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 0.233357s

+----------+-----------+-----------------------+------+
| Customer | SalesItem |         score         | rank |
+----------+-----------+-----------------------+------+
|    0     |    1142   |  0.14073100686073303  |  1   |
|    0     |    1139   |  0.12070442736148834  |  2   |
|    0     |    1138   |  0.05750127136707306  |  3   |
|    0     |    1148   |  0.02179056406021118  |  4   |
|    0     |    769    |  0.019457414746284485 |  5   |
|    0     |    752    |  0.018182143568992615 |  6   |
|    0     |    431    |  0.014094844460487366 |  7   |
|    0     |    748    |  0.01113981008529663  |  8   |
|    0     |    758    |  0.01040583848953247  |  9   |
|    0     |    1504   |  0.00967833399772644  |  10  |
|    1     |    273    |  0.017142194968003493 |  1   |
|    1     |    898    |  0.016369503277998704 |  2   |
|    1     |    1262   |  0.016028980414072674 |  3   |
|    1     |    485    |  0.015847672254611284 |  4   |
|    1     |    1243   |  0.015839222149971206 |  5   |
|    1     |    1314   |  0.01579849383769891  |  6   |
|    1     |    1120   |  0.015470024866935534 |  7   |
|    1     |    1404   |  0.015421454723064717 |  8   |
|    1     |    1223   |  0.014960469343723396 |  9   |
|    1     |    777    |  0.014797510244907478 |  10  |
|    2     |    206    | 0.0069486908361214355 |  1   |
|    2     |    439    |  0.006729102215799344 |  2   |
|    2     |    244    | 0.0066599992667736654 |  3   |
|    2     |    578    |  0.006397053660178671 |  4   |
|    2     |    268    |  0.00638213198201186  |  5   |
|    2     |    1020   |  0.006059710428017337 |  6   |
|    2     |    2139   |  0.006008969115562179 |  7   |
|    2     |    1062   |  0.006008969034467425 |  8   |
|    2     |    954    |  0.005987696582768239 |  9   |
|    2     |    408    |  0.005941334549261599 |  10  |
+----------+-----------+-----------------------+------+
[350 rows x 4 columns]

In [83]:
# create initial callable variables
models_w_counts = [cos]
models_w_dummy = [cos_dummy]
models_w_norm = [cos_norm]

names_w_counts = ['Cosine Similarity on Purchase Counts']
names_w_dummy = ['Cosine Similarity on Purchase Dummy']
names_w_norm = ['Cosine Similarity on Scaled Purchase Counts']

In [84]:
eval_counts = tc.recommender.util.compare_models(test_data, models_w_counts, model_names=names_w_counts)

PROGRESS: Evaluate model Cosine Similarity on Purchase Counts

Precision and recall summary statistics by cutoff
+--------+---------------------+----------------------+
| cutoff |    mean_precision   |     mean_recall      |
+--------+---------------------+----------------------+
|   1    |  0.1333333333333334 | 0.00517311602587607  |
|   2    | 0.10000000000000003 | 0.006645915264929797 |
|   3    | 0.11111111111111112 | 0.01013476484791139  |
|   4    |        0.125        | 0.015112734031922705 |
|   5    | 0.11333333333333334 | 0.015175062720454251 |
|   6    | 0.09444444444444446 | 0.015175062720454251 |
|   7    | 0.09523809523809522 | 0.018263207303463907 |
|   8    |         0.1         | 0.021373081569220184 |
|   9    | 0.09259259259259259 | 0.02180598200212062  |
|   10   | 0.08666666666666668 | 0.02180708222106419  |
+--------+---------------------+----------------------+
[10 rows x 3 columns]


Overall RMSE: 0.9503631963134942

Per User RMSE (best)
+----------+---------------------+-------+
| Customer |         rmse        | count |
+----------+---------------------+-------+
|    14    | 0.22794115641480991 |   36  |
+----------+---------------------+-------+
[1 rows x 3 columns]


Per User RMSE (worst)
+----------+------+-------+
| Customer | rmse | count |
+----------+------+-------+
|    27    | 1.0  |   6   |
+----------+------+-------+
[1 rows x 3 columns]


Per Item RMSE (best)
+-----------+--------------------+-------+
| SalesItem |        rmse        | count |
+-----------+--------------------+-------+
|    I760   | 0.3167277367443154 |   2   |
+-----------+--------------------+-------+
[1 rows x 3 columns]


Per Item RMSE (worst)
+-----------+------+-------+
| SalesItem | rmse | count |
+-----------+------+-------+
|   I3439   | 1.0  |   2   |
+-----------+------+-------+
[1 rows x 3 columns]

In [85]:
eval_dummy = tc.recommender.util.compare_models(test_DataBinary, models_w_dummy, model_names=names_w_dummy)

PROGRESS: Evaluate model Cosine Similarity on Purchase Dummy

Precision and recall summary statistics by cutoff
+--------+---------------------+------------------------+
| cutoff |    mean_precision   |      mean_recall       |
+--------+---------------------+------------------------+
|   1    | 0.06666666666666668 | 0.00019835580246414138 |
|   2    | 0.05000000000000001 |  0.006865022469130807  |
|   3    | 0.04444444444444444 |  0.007765923370031709  |
|   4    |         0.05        |  0.007790188479001866  |
|   5    | 0.04666666666666666 |  0.00825315144196483   |
|   6    |         0.05        |  0.009449378725148635  |
|   7    | 0.04285714285714285 |  0.009449378725148635  |
|   8    |         0.05        |  0.01125667744867427   |
|   9    | 0.05185185185185185 |  0.011636661405422405  |
|   10   | 0.05333333333333334 |  0.012538679450010326  |
+--------+---------------------+------------------------+
[10 rows x 3 columns]


Overall RMSE: 0.9513478126018896

Per User RMSE (best)
+----------+--------------------+-------+
| Customer |        rmse        | count |
+----------+--------------------+-------+
|    17    | 0.2696257037227416 |   5   |
+----------+--------------------+-------+
[1 rows x 3 columns]


Per User RMSE (worst)
+----------+------+-------+
| Customer | rmse | count |
+----------+------+-------+
|    11    | 1.0  |   6   |
+----------+------+-------+
[1 rows x 3 columns]


Per Item RMSE (best)
+-----------+--------------------+-------+
| SalesItem |        rmse        | count |
+-----------+--------------------+-------+
|    760    | 0.3996817394128129 |   3   |
+-----------+--------------------+-------+
[1 rows x 3 columns]


Per Item RMSE (worst)
+-----------+------+-------+
| SalesItem | rmse | count |
+-----------+------+-------+
|    2035   | 1.0  |   2   |
+-----------+------+-------+
[1 rows x 3 columns]

In [86]:
eval_norm = tc.recommender.util.compare_models(test_DataNorm, models_w_norm, model_names=names_w_norm)

PROGRESS: Evaluate model Cosine Similarity on Scaled Purchase Counts

Precision and recall summary statistics by cutoff
+--------+---------------------+---------------------+
| cutoff |    mean_precision   |     mean_recall     |
+--------+---------------------+---------------------+
|   1    | 0.35714285714285715 | 0.01775209210793221 |
|   2    | 0.39285714285714285 |  0.1344762211534898 |
|   3    |  0.380952380952381  | 0.14203054824222844 |
|   4    |  0.3482142857142857 |  0.1677789015832069 |
|   5    | 0.33571428571428574 | 0.21166182125071603 |
|   6    | 0.30357142857142855 | 0.22111427301848088 |
|   7    |  0.2857142857142857 | 0.23993441767713483 |
|   8    | 0.27232142857142855 | 0.25635995098100756 |
|   9    |  0.253968253968254  | 0.25696768301731104 |
|   10   | 0.24642857142857147 | 0.26712662824655997 |
+--------+---------------------+---------------------+
[10 rows x 3 columns]


Overall RMSE: 0.5299481328967095

Per User RMSE (best)
+----------+---------------------+-------+
| Customer |         rmse        | count |
+----------+---------------------+-------+
|    10    | 0.00731676459312439 |   1   |
+----------+---------------------+-------+
[1 rows x 3 columns]


Per User RMSE (worst)
+----------+--------------------+-------+
| Customer |        rmse        | count |
+----------+--------------------+-------+
|    31    | 0.8245513051566806 |  448  |
+----------+--------------------+-------+
[1 rows x 3 columns]


Per Item RMSE (best)
+-----------+------+-------+
| SalesItem | rmse | count |
+-----------+------+-------+
|    329    | 0.0  |   1   |
+-----------+------+-------+
[1 rows x 3 columns]


Per Item RMSE (worst)
+-----------+------+-------+
| SalesItem | rmse | count |
+-----------+------+-------+
|    2276   | 1.0  |   1   |
+-----------+------+-------+
[1 rows x 3 columns]

In [87]:
users_to_recommend = list(customers[user_id])

final_model = tc.item_similarity_recommender.create(tc.SFrame(DataBinary), 
                                            user_id=user_id, 
                                            item_id=item_id, 
                                            target='PurchasedYes', 
                                            similarity_type='cosine')

recom = final_model.recommend(users=users_to_recommend, k=n_rec)
recom.print_rows(n_display)

Warning: Ignoring columns SalesDate, SalesValue, SalesAmount, SalesTransactionID;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 341422 observations with 35 users and 3725 items.

    Data prepared in: 0.208029s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 818us                          | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 18.077ms                            | 0                | 0               |

| 360.589ms                           | 100              | 3725            |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 0.389574s

+----------+-----------+----------------------+------+
| Customer | SalesItem |        score         | rank |
+----------+-----------+----------------------+------+
|    0     |    769    |  0.6447658985853195  |  1   |
|    0     |    759    |  0.6353145837783813  |  2   |
|    0     |    758    |  0.6353145837783813  |  3   |
|    0     |    753    |  0.6193609237670898  |  4   |
|    0     |    757    |  0.5942823737859726  |  5   |
|    0     |    754    |  0.5942823737859726  |  6   |
|    0     |    749    |  0.5942823737859726  |  7   |
|    0     |    752    |  0.5734167844057083  |  8   |
|    0     |    431    |  0.5363822728395462  |  9   |
|    0     |    430    |  0.5363822728395462  |  10  |
|    1     |    1459   | 0.17570708607727625  |  1   |
|    1     |    726    | 0.16014184254520344  |  2   |
|    1     |    653    | 0.15059965061691571  |  3   |
|    1     |    652    | 0.15059965061691571  |  4   |
|    1     |    639    | 0.15059965061691571  |  5   |
|    1     |    575    | 0.15059965061691571  |  6   |
|    1     |    565    | 0.15059965061691571  |  7   |
|    1     |    564    | 0.15059965061691571  |  8   |
|    1     |    1047   | 0.14982256911835581  |  9   |
|    1     |    1223   | 0.14982256911835581  |  10  |
|    2     |    183    | 0.03557219522045704  |  1   |
|    2     |    204    | 0.03358544315941648  |  2   |
|    2     |    206    | 0.029665370932408078 |  3   |
|    2     |    966    | 0.029482083624434007 |  4   |
|    2     |    957    | 0.029482083624434007 |  5   |
|    2     |    394    | 0.026727252657933576 |  6   |
|    2     |    324    | 0.024468783619079424 |  7   |
|    2     |    266    | 0.024468783619079424 |  8   |
|    2     |    480    | 0.019002906447095437 |  9   |
|    2     |    968    | 0.018681744391150917 |  10  |
+----------+-----------+----------------------+------+
[350 rows x 4 columns]

In [88]:
df_rec = recom.to_dataframe()
print(df_rec.shape)
CustSelec0 = df_rec[df_rec.Customer == 0]
CustSelec0.head(10)

(350, 4)

   Customer  SalesItem     score  rank
0         0        769  0.644766     1
1         0        759  0.635315     2
2         0        758  0.635315     3
3         0        753  0.619361     4
4         0        757  0.594282     5
5         0        754  0.594282     6
6         0        749  0.594282     7
7         0        752  0.573417     8
8         0        431  0.536382     9
9         0        430  0.536382    10

In [89]:
df_rec.head()

   Customer  SalesItem     score  rank
0         0        769  0.644766     1
1         0        759  0.635315     2
2         0        758  0.635315     3
3         0        753  0.619361     4
4         0        757  0.594282     5

In [90]:
from google.colab import files
df_rec.to_excel('df_rec.xlsx')

In [91]:
from google.colab import files
files.download('df_rec.xlsx')
#will be saved in my personal download files locally

In [92]:
df_rec['recommendedProducts'] = df_rec.groupby([user_id])[item_id].transform(lambda x: '|'.join(x.astype(str)))
df_output = df_rec[['Customer', 'recommendedProducts']].drop_duplicates().sort_values('Customer').set_index('Customer')

In [93]:
def create_output(model, users_to_recommend, n_rec, print_csv=True):
    recomendation = model.recommend(users=users_to_recommend, k=n_rec)
    df_rec = recomendation.to_dataframe()
    if print_csv:
        df_output.to_csv('/content/gdrive/My Drive/TuriCreate/option2_recommendation.csv')
        print("An output file can be found in 'output' folder with name 'option2_recommendation.csv'")
    return df_output

In [95]:
df_output = create_output(cos_norm, users_to_recommend, n_rec, print_csv=True)
print(df_output.shape)
df_output.head(20)

An output file can be found in 'output' folder with name 'option2_recommendation.csv'
(35, 1)

                                      recommendedProducts
Customer
0                 769|759|758|753|757|754|749|752|431|430
1              1459|726|653|652|639|575|565|564|1047|1223
2                 183|204|206|966|957|394|324|266|480|968
3                     74|96|86|159|128|146|193|161|89|185
4         199|167|2204|2409|2237|2449|2422|2434|2206|2196
5                     152|146|96|74|154|985|98|13|185|155
6                 226|213|277|256|245|242|279|237|230|307
7                  907|851|958|955|929|997|1022|50|985|99
8                  181|80|208|174|148|145|123|259|399|269
9             2|768|759|758|2829|1637|3141|3070|2845|2508
10               1039|984|977|946|926|924|923|905|874|871
11                    194|154|152|146|128|100|98|96|89|86
12                201|141|202|1096|82|93|2508|328|452|649
13              431|430|753|756|755|1139|1138|1137|1134|2
14           748|1139|1138|1137|769|1134|1146|1142|2|1148
15          752|760|751|748|1139|1138|1137|1134|1146|1142
16                759|758|753|757|754|749|752|431|430|750
17               759|758|753|756|755|1|769|1139|1138|1137
18          751|1146|1142|768|769|1148|704|1923|1918|2038
19                614|609|552|302|293|283|279|277|256|245

In [96]:
df_output.head()

                                      recommendedProducts
Customer
0                 769|759|758|753|757|754|749|752|431|430
1              1459|726|653|652|639|575|565|564|1047|1223
2                 183|204|206|966|957|394|324|266|480|968
3                     74|96|86|159|128|146|193|161|89|185
4         199|167|2204|2409|2237|2449|2422|2434|2206|2196

In [97]:
from google.colab import files
df_output.to_excel('df_output.xlsx')

In [98]:
from google.colab import files
files.download('df_output.xlsx')
#if it should not work right away, than repeat the import above again and it will work

In [99]:
def customer_recomendation(customer_id):
    if customer_id not in df_output.index:
        print('Customer not found.')
        return customer_id
    return df_output.loc[customer_id]

In [100]:
customer_recomendation(0)

recommendedProducts    769|759|758|753|757|754|749|752|431|430
Name: 0, dtype: object

In [101]:
customer_recomendation(1)

recommendedProducts    1459|726|653|652|639|575|565|564|1047|1223
Name: 1, dtype: object